/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 8px; /* make this relative */
  text-decoration: none;
  font-size: 12px;  /* make this relative */
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}


.read_more {
  border: 1px solid green;

  font-size: 10px;
}

.textbox {
    border: 6px solid green ;
}

.video-metadata {
    border: 1px solid green ;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    border: 1px solid green ;
    
  }
  
  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  #container {
    position: relative;
  }
  
  video {
    width: 300px;
  }
  
  
  
  #viewRef {
    position: absolute;
    top: 130px;
    left: 10px;
    width: 25px;
    height: 25px;
    opacity: 1;
    transition: opacity .3s ease;
    cursor: pointer;
    
    /* Additional styles just to increase visual appeal */
    border-radius: 50%;
    background: #FFFFFFDD;
    color: red;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    /* End */
  }
  
  #top-elements {
    top: 0;
    position: sticky;
  }

  #video-title {
    background-color: yellow;
  }

  #video-basicinfo {
    background-color: green;
  }
  
  #referenceButton {
    position: absolute;
    top: 30%;
    left: 10px;
    width: 30px;
    height: 30px;
    opacity: 1; /*0 */ 
    transition: opacity .3s ease;
    cursor: pointer;
    
    /* Additional styles just to increase visual appeal */
    border-radius: 50%;
    background: #FFFFFFDD;
    color: red;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    /* End */
  }
  
  
  
  #referenceButton:hover {
    color: blue;
  }



  .button {

    position: absolute;
    top: 30%;
    left: 10px;
    
    opacity: 70%; 
    transition: opacity .3s ease;
    cursor: pointer;

    background-color: #099;
    color: white;
    text-decoration: none;
    border-radius: 60px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    overflow:hidden;
    width: auto;
    max-width: 32px; /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
    -webkit-transition: max-width 0.5s;
    transition: max-width 0.5s;
    visibility: hidden;
  }
  
  /**.button:hover{
    max-width: 32px;
  }
  **/

  .button-standby{
    max-width: 300px;
  }

  .button-preview{
    max-width: 300px;
  }


  .icon {
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    margin-right: 15px;
    padding: 0px 8px;
    display: flex;
    align-items: center;
  }
  
  .text {
    white-space: nowrap;
    padding-right: 15px;
  }